html {
	height: 100%;
	width: 98%;
	margin: 0;
}

body {
	/*max-width: 100%;*/
	background-color: #afeeee;
}
/* This will style the title*/
header {
	background-color: #333;
	max-width: 100%;
	height: 150px;
	margin-top: 1%;
	text-align: center;
	border-radius: 15px;
	border-width: 8px;
	border-style: solid;
	border-color: #111;
}

h1 {
	color: #777;
}
#sub-title {
	background-color: #777;
	width: 500px;
	margin-left: 23%;
	border-radius: 5px
}

.info-display {
	width: 99%;
	margin-top: 5%;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-radius: 10px;
	min-height: 100%;
}
.input-feild {
	width: 95%;
	margin-left: 2%;
}
table {
	table-layout: fixed;
	width: 100%;
}
td {
	text-align: center;
}
.train-info {
	width: 100%;
}

.amend {
	max-width: 20px;
}
button {
	margin-top: 3%;
}

